* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #d4dac9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
}

.tarjeta {

  display: flex;
  gap: 5rem;
  align-items: center;

  .datos {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
      font-size: 3rem;
      color: #1e1d1c
    }

    h4 {
      font-size: 1.2rem;
      color: #433b31
    }
  }

  .imagen {
    img {
      width: 400px;
      border-radius: 20px;

      transition: scale 0.2s ease-in-out;

      &:hover {
        scale: 1.05;
      }
    }
  }
}